* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #9e78cf;
  --secondary: #78cfb0;
  --danger: #ff3e3e;
  --bg-color: #0d0714;
  --dark: #15101c;
  --grey: #777777;
  --title-color: #e7e6e6;
  --text-color: #c3c3c3;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.task-item button {
  margin-right: 5px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}
.tabContent {
  background-color: #fafafa;
  height: 60dvh;
  width: 40dvw;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formHeader {
  width: 40dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.custom-datepicker .ant-picker-input {
  cursor: pointer;
}

.task-item {
  padding: 10px;
  min-width: 100%;
  border: 1px solid #d9d9d9;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.task-item.completed {
  text-decoration: line-through;
  border-color: #95de64;
  background-color: #f6ffed;
}
.task-item.removed {
  border-color: #ff7875;
  background-color: #fff1f0;
}
.task-item .ant-card-body {
  padding: 16px;
  width: 100%;
}

.custom-tabs .ant-tabs-tab {
  font-size: 16px;
  padding: 12px 24px;
}
.custom-tabs .ant-tabs-ink-bar {
  height: 4px;
  background-color: #1890ff;
}
