* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.task-item button {
  margin-right: 5px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}

.tabContent {
  background-color: #fafafa;
  height: 60dvh;
  width: 40dvw;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formHeader {
  width: 40dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ant-tabs-nav-list {
  width: 100%;
}
.formHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.custom-datepicker .ant-picker-input {
  cursor: pointer;
}

.task-item.completed {
  border-color: #95de64;
  background-color: #f6ffed;
}
.task-item.removed {
  border-color: #ff7875 !important;
  background-color: #fff1f0;
}
.task-item.overdue {
  border: 1px solid #d9d9d9;
  background-color: #f5f5f5;
}
.task-item .ant-card-body {
  padding: 16px;
  width: 100%;
}
.custom-tabs .ant-tabs-tab {
  font-size: 16px;
  padding: 12px 24px;
  margin: 0 !important;
}
.custom-tabs .ant-tabs-ink-bar {
  height: 4px !important;
  background-color: #1890ff;
}
.task-item {
  padding: 10px;
  width: 100%;
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.taskContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.task-item {
  padding: 10px;
  width: 100%;
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  border-radius: 5px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.taskContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-item {
  padding: 10px;
  width: 100%;
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  border-radius: 5px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  flex-grow: 1;
}
.taskTitle {
  font-size: 18px;
  font-weight: bold;
}

.taskDescription {
  word-break: break-all;
  color: rgba(0, 0, 0, 0.7);
}

.deadline {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

@media (max-width: 991px) {
  .custom-tabs .ant-tabs-tab {
    padding: 12px 10px;
  }
  .formHeader {
    width: 100%;
  }
  .tabContent {
    width: 80dvw;
    height: 70dvh;
  }
}
@media (max-width: 600px) {
  .tabContent {
    width: 95dvw;
  }
  .ant-picker-dropdown {
    left: 0 !important;
    right: auto;
  }
}
